mods/
coremods/
saves/
logs/
crash-reports/
.cache/
resourcify-temp/
server-resource-packs/
resourcepacks/
shaderpacks/
texturepacks/
moonlight-global-datapacks/
emojiful/
usercache.json
usernamecache.json
local/
screenshots/
data/
xaero/
XaeroWaypoints_BACKUP240807/

*.jar
*.log
*.outdated
*.old

rhino.local.properties